<div id="<%= dom_id race %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= race.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= race.date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Race type:</strong>
    <%= race.race_type %>
  </div>
</div>
