<%= turbo_stream_from @chat %>

<div id="messages" class="flex flex-col gap-4">
  <% @messages_by_date.each do |date, messages| %>
    <div class="text-center text-xs text-gray-500 my-2">
      <%= l(date, format: :long) %>
    </div>

    <% messages.each do |message| %>
      <%= render "messages/message",
        message: message,
        mine: message.user_id == current_user.id %>
    <% end %>
  <% end %>
</div>


<%= render "messages/form", chat: @chat %>
