<div id="<%= dom_id bet_position %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Bet:</strong>
    <%= bet_position.bet_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Driver:</strong>
    <%= bet_position.driver_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= bet_position.position %>
  </div>
</div>
